Multiple spaces in date-time.

> For the sake of readability, you may replace the T delimiter between date and time with a space (as permitted by RFC 3339 section 5.6).

> Whitespace means tab (0x09) or space (0x20).

- Can 0x09 be used instead of 0x20? (Asking because it says "space", not "whitespace".)
- Are multiple spaces allowed? (Asking because it says "a space", but it seems a bit weird to only allow one space.)

Edit: Both the (non-authoritative) grammar and toml-rs accept exactly one 0x20. It's strange that it allows multiple spaces or tabs everywhere else except here, but whatever.

> * Can 0x09 be used instead of 0x20? (Asking because it says "space", not "whitespace".)

No.

> * Are multiple spaces allowed? (Asking because it says "a space", but it seems a bit weird to only allow one space.)

No.
